@section header{
    Đổi mật khẩu
}
@using (Html.BeginForm("ChangePassword_Action", "Login", FormMethod.Post))
{
    @Html.ValidationSummary(true, null, new { @class = "alert alert-success" })
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">New password</label>
        <div class="col-xs-5">
            @Html.TextBox("newPassword", "", new { @class = "form-control textbox", @type = "password" })
        </div>
    </div>
    <div class="form-group row">
        <label for="example-search-input" class="col-xs-2 col-form-label">Confirm password</label>
        <div class="col-xs-5">
            @Html.TextBox("confirmPassword", "", new { @class = "form-control textbox", @type = "password" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-5" style="margin-left: 17%;">
            <input type="checkbox" id="showPass" /> Show Password
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-5" style="margin-left: 17%;">
            <button type="submit" class="btn btn-primary btn-osx btn-lg">Change</button>
        </div>
    </div>
}

<!-- Necessary-JavaScript-Files-&-Links -->
<!-- Default-JavaScript -->
<script type="text/javascript" src="/Assets/js/jquery.min.js"></script>
<script src="/Assets/js/validify.js"></script>
<script>
            $(document).ready(function () {
                $('#showPass').change(function () {
                    if ($(this).is(":checked")) {
                        document.getElementById('newPassword').type = 'text';
                        document.getElementById('confirmPassword').type = 'text';
                    }
                    else {
                        document.getElementById('newPassword').type = 'password';
                        document.getElementById('confirmPassword').type = 'password';
                    }
                });
            });

</script>
