@model WebMVC.EntityFramework.MESSAGE
@{
    ViewBag.Title = "ViewMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {

}


<div class="form-group">
    <label>Nội dung</label>
    <textarea class="form-control" rows="10">@Model.Message</textarea>
</div>
