
@{
    ViewBag.Title = "Statistical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<button href="@Url.Action("Index","Statistical")" class= "btn btn-primary btn-lg">Thống kê</button>*@
<a href="@Url.Action("Detail", "Statistical")" class="btn btn-primary btn-lg">Thống kê</a>

