
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách truy hồi
}
<h3> Đọc bảng RETRIVAL</h3>

<p> show từng dòng giống bên Quản Lý</p>
<p> show từng dòng giống bên Quản Lý</p>
<p> show từng dòng giống bên Quản Lý</p>
<p> show từng dòng giống bên Quản Lý</p>
<p> show từng dòng giống bên Quản Lý</p>
<p> show từng dòng giống bên Quản Lý</p>

<p>Có action khi nhấn vào RetrivalCode giống bên Quản Lý</p>


