@using WebMVC.EntityFramework;
@using WebMVC.Models;
@using System.Web;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listSummary = ViewBag.listSummary as List<MERCHANT_SUMMARY_DAILY>;
    var listRegion = ViewBag.listRegion as List<MERCHANT_SUMMARY_DAILY>;
    var listMerchantType = ViewBag.listMerchantType as List<MERCHANT_SUMMARY_DAILY>;
    var cardTypeReport = ViewBag.cardTypeReport as List<MERCHANT_SUMMARY_DAILY>;
    var lineChartData = ViewBag.lineChartData as List<Statistic>;
}
@section header{

    <i class="fa fa-bar-chart-o"></i> Charts
}
<link href="~/Assets/css/myStyle.css" rel="stylesheet" />
<script src="/Assets/js/flot/excanvas.min.js"></script>
<script src="/Assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- The Modal -->
<div id="RevenueModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">×</span>
        <div class="row">
            <div class="col-xs-9">
                <p>Total revenue:</p>
            </div>
            <div class="col-xs-9 ">
                <div>Total transaction:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <p>Total sale: </p>
            </div>
            <div class="col-xs-9">
                <p>Sale count: </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <p>Total return: </p>
            </div>
            <div class="col-xs-9 ">
                <p>Return count: </p>
            </div>
        </div>
    </div>

</div>

<div id="mySidenav" class="sidenavFilter">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="checkbox">
        <label>
            <input type="checkbox">This month</input>
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">This year</input>
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">....</input>
        </label>
    </div>
    <button style="margin-left:30%" type="submit" class="btn btn-default">Submit</button>
</div>
<div id="main">
    <div class="container-fluid">

        <div class="row">
            <span style="font-size:20px;cursor:pointer;margin-left:10px" onclick="openNav()"><i class="fa fa-filter" aria-hidden="true"></i> Filter</span>

        </div>
        <!-- Flot Charts -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="h4">@ViewBag.Revenue</div>
                                <div>Total Revenue</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="h4">@ViewBag.Sale</div>
                                <div>Total sales</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-warning fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="h4">@ViewBag.Return</div>
                                <div>Total returns</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="h4">@ViewBag.Transaction</div>
                                <div>Total transactions</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4" style="width:60%">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Revenue Graph</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-line-chart"></div>
                        <div id="detailBtn" class="text-right">
                            <a>View Details <i class="fa fa-arrow-circle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="width:33%">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Card Type</h3>
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-pie-chart"></div>
                        </div>
                        <div id="detailBtn" class="text-right">
                            <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" style="width:60%;min-width:400px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Region</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-bar-chart"></div>
                        <div id="detailBtn" class="text-right">
                            <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="width:33%;min-width:400px">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Merchant Type</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                        <div id="detailBtn" class="text-right">
                            <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->
    </div>
</div>
<script src="~/Assets/js/MyCustomJS.js"></script>


<script>
    $(function () {

        @{
            var DonutData = String.Empty;
            var BarData = String.Empty;
            var LineData = String.Empty;
            var CardTypeData = String.Empty;

            foreach (MERCHANT_SUMMARY_DAILY item in listMerchantType)
            {
                if (item.MerchantType == null)
                {
                    item.MerchantType = "Khác";
                }
                DonutData += "{label: \"{0}\", value: {1} },".Replace("{0}", item.MerchantType).Replace("{1}", item.SaleAmount.ToString());
            }
            if (DonutData.Length > 1)
            {
                DonutData = HttpUtility.HtmlDecode(DonutData.Substring(0, DonutData.Length - 1));
            }

            foreach (Statistic item in lineChartData)
            {
                if (item.Name == null)
                {
                    item.Name = "Khác";
                }
                LineData += "{d: \"{0}\", sales: {1} },".Replace("{0}", item.Name).Replace("{1}", item.Value.ToString());
            }
            if (LineData.Length > 1)
            {
                LineData = LineData.Substring(0, LineData.Length - 1);
            }
                
            foreach (MERCHANT_SUMMARY_DAILY item in listRegion)
            {
                if (item.RegionCode == null)
                {
                    item.RegionCode = "Khác";
                }
                BarData += "{device: \"{0}\", geekbench: {1} },".Replace("{0}", item.RegionCode).Replace("{1}", item.SaleAmount.ToString());
            }
            if (BarData.Length > 1)
            {
                BarData = BarData.Substring(0, BarData.Length - 1);
            }

            
            foreach (MERCHANT_SUMMARY_DAILY item in cardTypeReport)
            {
                CardTypeData += "{label: \"{0}\", data: {1} },".Replace("{0}", "Foreign Card").Replace("{1}", item.ForeignCardAmount.ToString());
                CardTypeData += "{label: \"{0}\", data: {1} },".Replace("{0}", "Debit Card").Replace("{1}", item.DebitCardAmount.ToString());
                CardTypeData += "{label: \"{0}\", data: {1} },".Replace("{0}", "Visa Card").Replace("{1}", item.VisaCardAmount.ToString());
                CardTypeData += "{label: \"{0}\", data: {1} },".Replace("{0}", "Discover Card").Replace("{1}", item.DiscoverCardAmount.ToString());
                CardTypeData += "{label: \"{0}\", data: {1} },".Replace("{0}", "Master Card").Replace("{1}", item.MasterCardAmount.ToString());
                CardTypeData += "{label: \"{0}\", data: {1} },".Replace("{0}", "American Express Card").Replace("{1}", item.AmericanExpressAmount.ToString());
                CardTypeData += "{label: \"{0}\", data: {1} }".Replace("{0}", "Other Card").Replace("{1}", item.OtherCardAmount.ToString());
            }

           
        }

        // Donut Chart
        Morris.Donut({
            element: 'morris-donut-chart',
            data: [@Html.Raw(DonutData)],
            resize: true
        });

        Morris.Bar({
            element: 'morris-bar-chart',
            data: [@Html.Raw(BarData)],
            xkey: 'device',
            ykeys: ['geekbench'],
            labels: ['Số lượng'],
            barRatio: 0.4,
            xLabelAngle: 35,
            hideHover: 'auto',
            resize: true
        });

        Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'morris-line-chart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [@Html.Raw(LineData)],
            // The name of the data record attribute that contains x-visitss.
            xkey: 'd',
            // A list of names of data record attributes that contain y-visitss.
            ykeys: ['sales'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['Sale amount'],
            // Disables line smoothing
            smooth: false,
            resize: true
        });

        var data = [@Html.Raw(CardTypeData)];

        var plotObj = $.plot($("#flot-pie-chart"), data, {
            series: {
                pie: {
                    show: true
                }
            },
            grid: {
                hoverable: true
            },
            tooltip: true,
            tooltipOpts: {
                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            }
        });
    });

</script>

<script>
    // Get the modal
    var modal = document.getElementById('RevenueModal');

    // Get the button that opens the modal
    var btn = document.getElementById("detailBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal

    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
